.home-page 
	margin: 0 auto
	position: relative
	h3 
		font-size: 2.8rem
		font-weight: 400
		text-transform: uppercase
	p
		font-size: 14px
		margin: 1em 0
		text-align: justify
	.text-left 
		text-align: left
	.text-right 
		text-align: right
	.custom-container 
		padding: 0 10%
	.mobile 
		display: none
	.pc 
		display: block
	section 
		padding: 4.3% 0
		// .container
		// 	padding: 20px
		&:nth-of-type(1)
			padding: 0
			background: lightskyblue
			// background: #00d4ff
			// background-image: url(../Media/Image/bg/01.jpg)
			// background-position: center
			// background-repeat: no-repeat
			// background-size: cover
		&:nth-of-type(2)
			background: #100C22
			// background: rgb(72,91,95)
			// background: linear-gradient(180deg, rgb(72, 91, 95) 0%, rgba(245,245,245,1) 100%)
			// background-color: #111642
			// .container
			// 	background: #141816
		&:nth-of-type(3)
			background: #100C22
			// color: #333333
		&:nth-of-type(4)
			background-color: #3B335B
			// background-image: url(../Media/Image/bg/linear.png)
		&:nth-of-type(5)
			// background: #3E3253
			background: #3B335B
		&:nth-of-type(6)
			background: #382E53
		&:nth-of-type(7)
			background: #3B335B

@media (max-width: 568px)
	.home-page 
		h3
			text-align: center 
		p
			text-align: center

	
			
			
			
	
