#header {
  top: 0;
  width: 100%;
  z-index: 1;
  position: fixed; }
  #header.sticky {
    position: fixed;
    top: 0;
    width: 100%; }
  #header.top {
    background: #141816;
    position: fixed;
    z-index: 10; }
    #header.top .sidebar {
      margin-top: 52px; }
    #header.top .container-custom {
      padding: 0 30px; }
  #header .container-custom {
    max-width: calc(1545px + 30px * 2);
    margin: 0 auto;
    padding: 0 30px;
    transition: padding 0.2s; }
  #header a {
    display: flex;
    justify-content: center;
    align-items: center; }
    #header a img {
      width: 100%;
      max-width: 155px;
      margin: 0 auto;
      display: block; }
  #header .router-link {
    position: relative;
    display: inline-flex;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-weight: normal;
    font-size: 16px;
    color: #f5f5f5; }
    #header .router-link:after {
      position: absolute;
      bottom: 20%;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: #f5f5f5;
      height: 1px;
      transition: all 0.5s; }
    #header .router-link:hover {
      text-decoration: none; }
      #header .router-link:hover:after {
        width: 100%; }
    #header .router-link:active {
      color: #fff; }
  #header .dropdown {
    outline: none; }
    #header .dropdown .btn-primary {
      background-color: #ffffff00 !important;
      border: none !important;
      padding: 0;
      font-size: 16px; }
  #header .sidebarMenu {
    position: relative;
    width: 24px;
    height: 24px; }
    #header .sidebarMenu:focus {
      outline: none; }
    #header .sidebarMenu div:focus {
      outline: none; }
  #header .sidebar {
    margin-top: 72px;
    max-width: 320px !important;
    min-width: 320px !important;
    width: 100% !important;
    height: calc(100vh - 52px) !important;
    background-color: #1f1f1f !important;
    z-index: 5 !important;
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    transition: transform 0.3s ease-out !important;
    -webkit-transition: -webkit-transform 0.3s ease-out !important;
    will-change: transform !important;
    overflow-y: auto !important; }
    #header .sidebar__body {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 30px; }
      #header .sidebar__body .router-link {
        height: 60px;
        background-size: cover;
        font-size: 3rem;
        border: 3px solid #9b3e46;
        margin-bottom: 15px;
        border-radius: 5px;
        transition: 0.5s; }
        #header .sidebar__body .router-link:hover {
          text-decoration: none;
          box-shadow: 0 0 10px 0 #9b3e46 inset, 0 0 20px 2px #9b3e46;
          text-shadow: 0px 0px 50px #9b3e46, 0 0 1em #9b3e46; }
          #header .sidebar__body .router-link:hover:after {
            width: 0%; }
        #header .sidebar__body .router-link:active {
          box-shadow: 0 0 10px 0 #9b3e46 inset, 0 0 20px 2px #9b3e46;
          text-shadow: 0px 0px 50px #9b3e46, 0 0 1em #9b3e46; }
  #header .side-btn {
    color: #fff;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 0; }
  #header .lang {
    width: 35px;
    background: inherit;
    border: none;
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 0px;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    height: 52px;
    outline: none;
    display: flex;
    align-items: center; }
    #header .lang button {
      outline: none;
      padding: 0; }
    #header .lang .btn-success.focus, #header .lang .btn-success:focus {
      box-shadow: none; }
    #header .lang.show .btn {
      padding: 0; }
    #header .lang.show .dropdown-toggle:after {
      transform: rotate(180deg);
      transition: 0.2s; }
    #header .lang.show .btn-success.dropdown-toggle {
      color: #fff;
      background-color: none;
      border-color: none; }
    #header .lang.show .show:hover .lang__more {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    #header .lang .dropdown-toggle {
      color: #ffffff;
      width: 100%;
      height: 100%;
      background: none;
      border: none; }
      #header .lang .dropdown-toggle::after {
        color: #ab2c2c;
        vertical-align: super;
        transition: 0.2s;
        margin-left: 5px;
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent; }
      #header .lang .dropdown-toggle .lang__active {
        color: #ffffff;
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 16px; }
    #header .lang .dropdown-menu {
      background: #423D6B;
      min-width: auto;
      width: 60px;
      font-size: 14px;
      top: 98% !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      z-index: 1; }
      #header .lang .dropdown-menu li {
        height: 30px; }
        #header .lang .dropdown-menu li:hover {
          background: #534577; }
        #header .lang .dropdown-menu li .dropdown-item {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background: none;
          color: #ffffff; }
  #header .lang.show a {
    color: #ffffff; }
  #header .row {
    justify-content: space-between; }
  #header .logo {
    width: 100%;
    max-width: 155px; }
  #header .nav-bar {
    text-align: center;
    width: 100%;
    max-width: 700px; }
    #header .nav-bar__box {
      display: flex;
      justify-content: space-between; }
    #header .nav-bar__mobile {
      display: none;
      align-items: center; }

@media (max-width: 1605px) {
  #header .container-custom {
    padding: 10px 30px; } }
@media (max-width: 992px) {
  #header.normal {
    background: #141816; }
    #header.normal .container-custom {
      padding: 0 30px; }
    #header.normal .sidebar {
      margin-top: 52px; }
  #header .nav-bar {
    width: auto; }
    #header .nav-bar__box {
      display: none; }
    #header .nav-bar__mobile {
      display: flex; } }
@media (max-width: 500px) {
  #header.top .container-custom, #header.normal .container-custom {
    padding: 0 10px; }
  #header .container-custom {
    padding: 0px 10px 15px; } }

/*# sourceMappingURL=Header.css.map */
